block content
	head
	body
		.wrapper
			h1= message
			h2= error.status
			h3 Úps! Þetta er ekki síðan sem þú ert að leita að!
			img(src="http://sarodogbooks.com/wp-content/uploads/2015/06/working-dog_0.jpg")
			br
			a(href='/') Vinsamlegast farðu aftur heim!
			pre #{error.stack}
