extends layout

block content
	body
		main.top-content
			header
				h1 Eyðublað
		.wrapper
			select(class="menu" name="val") #{val} 
				if entries
					each u in entries
						form(method="post")
						button(onclick='reply_click(this.id)', id=u.sitename) #{u.sitename}


	script(type='text/javascript').
		function reply_click(clicked_id)
		{
			p(name='valinn')=alert(clicked_id);
		}