extends layout

block content
	body
		main.top-content
			header
				h1 Eyðublað
		.wrapper
			if entries
				form(method="post")
					select(class="menu" name="val")
						each u in entries
							option(value=u.sitename ) #{u.sitename}
						input(type="submit" class="takki" )