extends layout

block content
	head
		link(rel='stylesheet', href='dist/stylesheets/find.css')
	body
		main.top-content(style='background-image: url(http://www.planwallpaper.com/static/images/colorful-triangles-background_yB0qTG6.jpg)')
			header
				h1 Mínar síður
				h2 Hér er listi af síðunum sem ég hef búið til!
		.wrapper
			h3 Mínar Síður
				if sites
					form(method="post")
						select(class="menu" name="val")
							each u in sites
								option(value=u.sitename class="option") #{u.sitename}
							input(type="submit" class="takki")

