extends layout

block content
	body
		main.top-content(style='background-image: url(http://www.planwallpaper.com/static/images/colorful-triangles-background_yB0qTG6.jpg)')
			header
				h1 Vinir mínir 
		.wrapper
			if friends
				form(method="post")
					select(class="menu" name="friendsval")
						each u in friends
							option(value=u.friend ) #{u.friend}
						input(type="submit" class="takki" )
