extends layout

block content
	head
		link(rel='stylesheet', href='dist/stylesheets/friends.css')
	body
		main.top-content(style='background-image: url(http://www.planwallpaper.com/static/images/colorful-triangles-background_yB0qTG6.jpg)')
			header
				h1 Vinirnir mínir
				h2 Hér er listi af vinum mínum!
		.wrapper
			if friendsval>0
				h3 Velja vin
				form(method="post")
					select(class="menu" name="friendsval")
						each u in friends
							option(value=u.friend name=u.friend) #{u.friend}
						input(type="submit" class="takki" name="Submit button" )
			else
				h3 Þú ert ekki með neina vini
				p Farðu í Leita að vinum til að bæta við nýjum vinum
