doctype html
html
	head
		title=title
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet")
		link(rel='stylesheet', href='dist/stylesheets/layout.css')
		meta(name='viewport', content='width=device-width, initial-cale=1')
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(href='https://fonts.googleapis.com/css?family=Raleway|Bree+Serif', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='dist/stylesheets/styles.css')
		body
			nav
				ul
					li.verkefnilink
						a(href='/') Heim
					if username
						li.verkefnilink
							a(href='/profile') Um mig
						li.verkefnilink
							a(href='/search') Leita að vinum
						li.heimlink
							a(href='/find') Mínar síður
						li.heimlink
							a(href='/form') Ný síða
						li.heimlink
							a(href='/friends') Vinir mínir
						li.heimlink
							a(href='/logout') Útskrá
					if !username
						li.heimlink
							a(href='/register') Nýskrá
					li.heimlink
						a(href='/sida') Dæmi um síðu
			main.top-content(style='background-image: url(http://www.planwallpaper.com/static/images/colorful-triangles-background_yB0qTG6.jpg)')
				header
					h1 Sunnsteinn 
					h2
						p Velkomin á síðuna Sunnstein
						p Hér getur þú búið þér til þína eigin vefsíðu.
		.wrapper
			if user
				p þú ert loggaður inn sem #{user.username}
					if requests
						each u in requests
							p #{u.friend}
			else 
				fieldset
					form.form-horizontal(method="post")
						.form-group
							label.col-sm-2.control-label(for='username') Notendanafn:	
							.col-sm-10
								input#sitename(type="text" name="username" class="username")
						.form-group
							label.col-sm-2.control-label(for='password') Lykilorð:
							.col-md-10
								input#username(type="text" name="password" class="password")
						.form-group
							.col-sm-offset-8
								input(type="submit" class="takki" )
