extends layout
block content
		body
			main.top-content(style='background-image: url(http://www.planwallpaper.com/static/images/colorful-triangles-background_yB0qTG6.jpg)')
				header
					h1 Sunnsteinn 
					h2
						p Velkomin á síðuna Sunnstein
						p Hér getur þú búið þér til þína eigin vefsíðu.
		.wrapper
			if username
				p þú ert loggaður inn sem #{username}
			else 
				fieldset
					form.form-horizontal(method="post")
						.form-group
							label.col-sm-2.control-label(for='username') Notendanafn:	
							.col-sm-10
								input#sitename(type="text" name="username" class="username")
						.form-group
							label.col-sm-2.control-label(for='password') Lykilorð:
							.col-md-10
								input#username(type="text" name="password" class="password")
						.form-group
							.col-sm-offset-8
								input(type="submit" class="takki" )
