doctype html
html
	head
		title=title
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet")
		link(rel='stylesheet', href='dist/stylesheets/layout.css')
		meta(name='viewport', content='width=device-width, initial-cale=1')
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(href='https://fonts.googleapis.com/css?family=Raleway|Bree+Serif', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='dist/stylesheets/styles.css')
	block content
	body
	block navigator
		nav
			ul
				li.verkefnilink
					a(href='/') Heim
				li.verkefnilink
					a(href='/profile') Um mig
				li.verkefnilink
					a(href='/search') Leita að vinum
				li.verkefnilink
					a(href='/find') Mínar síður
				li.verkefnilink
					a(href='/form') Ný síða
				li.verkefnilink
					a(href='/sida') Dæmi um síðu
				li.verkefnilink
					a(href='/friends') Vinir mínir
				li.verkefnilink
					a(href='/logout') Útskrá
	main
script(src="/javascripts/frontend.js")
