extends layout

block content

	h1 Sunnsteinn
	.flexbox
		.flex
			img.bjarnamynd(src='https://scontent-arn2-1.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/11006369_10153134880300908_1055832617700071576_n.jpg?oh=b1d6a71ae12fe7cb34a9c2861bc4ceda&oe=56B61965', alt='Mynd af mér, samt ekki')
		.flex
			p Símanúmer: 776-3521
			p Heimilisfang: Þinghólsbraut 47
			p Netfang: suh3@hi.is