extends layout

block content
	body
		link(rel='stylesheet', href='dist/stylesheets/search.css')
		main.top-content(style='background-image: url(http://www.planwallpaper.com/static/images/colorful-triangles-background_yB0qTG6.jpg)')
			header
				h1 Leita að vinum 
				h2 Hér get ég leitað að nýjum vinum!
	.wrapper
		form.form-horizontal(method="post")
			.form-group
				.col-md-2
					label(for='sitename') Finna vin:	
				.col-md-11
					input(type="text" name="friendName" id="sitename" class="friendName")
			.form-group
				.col-md-1
					input(type="submit" class="takki" )
		if respond
			p #{respond}
