.cf:before,
.cf:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.cf:after {
	clear: both;
}


nav {
	width: 165px;
	background-color: rgba(0, 0, 0, 0.8);
	top: 0px;
	bottom: 0%;
	position: fixed;
}

ul{ list-style-type: none; }

nav a {
	color: #ffffff;
	text-transform:uppercase;
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
	margin: 0 0 0 -15%;
}

nav a:hover { border-bottom: 3px solid #f1f1f1; }

.home{
	border-bottom: 3px solid #f1f1f1;
}

.heimlink{ margin: 43% 0% 0%;}

.verkefnilink{ margin: 34% 0%;}
