.cf:before,
.cf:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.cf:after {
	clear: both;
}


/* http://codepen.io/CreativeJuiz/pen/Hizkh */

input[type="submit"].takki {
	width: 40%;
}

select{
	width: 70%;
}

/* Diamond */



.diamond, .dia {
	margin: 0 auto;
	transform-origin: 50% 50%;
	overflow: hidden;
	width: 300px;
	height: 300px;
}
.diamond {
	transform: rotate(45deg) translateY(-25px) translateX(-25px);
}
.diamond .dia {
	width: 380px;
	height: 380px;
	transform: rotate(-45deg);
}
.diamond img {
	width: 100%;
	height: auto;
}


/* SECTION */
.flexbox{ 
	display: flex;
	margin-top: -1%;
	flex-wrap: wrap;
}
.flex{
	flex: 1;
	flex-basis: calc(765px/2);
}


.test{
	width: 300px;
	margin-top: 150px;
	text-align: center;
	display:block;
}


.img-circle{
	width:300px; 
}

.middle-content {
	width:300px;
	margin: -300px auto 0 auto;
}
#profpic {
	box-shadow: 0px 1px 6px 1px;
}

h1 {
	color:black;
}

h2 {
	color:black;
	font-weight: bold;
}

.filler {
	margin: 25% 0%;
}

@media only screen and (max-width: 767px){

	.test{
		size: 10%;
		text-align: center;
		margin-left: -8%;
	}
	.verkefnilink{ 
		margin: 6% 0% 0% 0%;
		text-align: center;
	}
}

