.cf:before,
.cf:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.cf:after {
	clear: both;
}

.wrapper {
	margin-right: 5%;
}


@media only screen and (max-width: 767px){

.wrapper {
	margin-right: 10%;
}
	.test{
		size: 10%;
		text-align: center;
		margin-left: -8%;
	}
	.verkefnilink{ 
		margin: 6% 0% 0% 0%;
		text-align: center;
	}
}

