.cf:before,
.cf:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.cf:after {
	clear: both;
}

/* BODY */
body {
	background-size: cover;
	background-color: #F2F2F2;
	font-family: 'Raleway';
	font-size: 20px;
	line-height: 30px;
	margin: 0 auto;
	max-width: 1200px;
}

/* HEADER */
.top-content{
	font-family: 'Bree Serif';
	background-size: 1200px;
	background-position:center;
	background-repeat: no-repeat;
}

header {
	padding: 5% 0% 5%;
	text-shadow: 0 2px 2px rgba(0,0,0,0.5);
	margin-left: 22%;
	height: 300px;
}

h1 {
	font-variant: small-caps;
	line-height: 80px;
	font-variant: small-caps; text-transform: uppercase;
	font-size: 63px;
	color: white;
}

h2 {
	color: white;
}

.verkefni{ margin-bottom: 3%; }

.link {
	text-decoration: none;
	color: #f1f1f1;
	border-bottom: 5px solid #1f1f1f;
}

.wrapper{
	margin-top: 5%;
	margin-left: 22%;
}

li {
	text-align: center;
	display: block;
	margin: 7% 0% 0% 0%;
}

/* FORM CONTROLL */
input[type="text"] {
	width: 70.8%;
	-webkit-box-shadow: 0 0 0px 1000px white inset;
}

input[type="password"] {
	width: 70.8%;
	-webkit-box-shadow: 0 0 0px 1000px white inset;
}
input[type="submit"] {
	margin-top: 30px;
}
textarea[type="text"] {
	width: 70.8%;
	resize: none;
}

/* SECTION */
.flexbox{ 
	display: flex;
	margin-top: -1%;
	flex-wrap: wrap;
}

.flex{
	flex: 1;
	flex-basis: calc(765px/2);
}

.half1{
	width: 46%;
	margin: 1%;
	background-size: 100%;
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-position:center;
	float: right;
	margin-bottom: 7.5%
}

.halfs {
	padding-bottom: 10%;
}

.profilepic {
	width: 90%;
}

.half2{
	width: 46%;
	margin: 1%;
	background-size: 100%;
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-position:center;
	float: left;
	margin-bottom: 7.5%
}

/* NAVIGATOR */

ul{ list-style-type: none; }


.home{
	border-bottom: 3px solid #f1f1f1;
}

.heimlink{ margin: 8% 0% 0% 11%;}


/* REGISTER FIX */

.form-control{
	border-radius: 0;
}

.input-group {
	width: 70.8%;
}

.help-block {
	font-size: 15px;
	margin-bottom: -10px;
}

.sunn {
	width: 100%;
	margin: 0 auto;
}

.steinn {
	margin: 0 auto;
	text-align: center;
	display: block;
}

#sunnsteinn {
	width:100%;
}

@media only screen and (max-width: 768px){
	.wrapper{
		margin-top: 5%;
		margin-left: 12%;
	}
	#sunnsteinn {
		width: 20%;
	}
	header {
		padding: 5% 0% 5%;
		text-shadow: 0 2px 2px rgba(0,0,0,0.5);
		margin-left: 12%;
		height: 300px;
	}

	.heimlink{ margin: 4% 0% 0% 0%;}

	li {
		text-align: center;
		display: block;
		margin: 7% 0% 0% 0%;
	}

}

